@page "/mainAdmin/UpdateSchool"
@using EducationSystem.Shared.Models;
@using EducationSystem.Shared.OutputData;
@using EducationSystem.WebClient.Shared
@using EducationSystem.WebClient.StaticHelpers;
@using Microsoft.AspNetCore.Components.Forms
@inject NavigationManager Navigation


<link rel="stylesheet" href="css/CommonStyle.css">

<AdminNavMenu/>
<body class="main">
	<h1>Список школ</h1>
	@if (CurrentPage == null)
	{
		<div>Загрузка</div>
	}
	else
	{
		@if (CurrentPage.Value != null)
		{
			<table class="OutputTable">
					<thead>
						<tr>
							<th>Название</th>
							<th>Город</th>
						</tr>
					</thead>
				@foreach (var item in CurrentPage.Value)
			{

					<tbody>
						<tr>
							<td>@item.Name</td>
							<td>@item.City</td>
							<td width="20%">
								<label>
									<a href=@($"/mainAdmin/UpdateSchoolHelper/{item.Id}")>Изменить</a>
								</label>
							</td>
							<td width="20%">
								<label>
									<button @onclick="()=>Delete(item.Id)" type="button" class="error">Удалить</button>
								</label>
							</td>
						</tr>
					</tbody>
			
			}
			</table>
		}
		else
		{
			<div>Список школ пуст</div>
		}
	}
	<button class="login" @onclick="PreviousPage">Предыдущая страница </button>
	<button class="login" @onclick="NextPage">Следующая страница </button>

	@if (deleted==true)
	{
		if (DeletedEntity.Error==true)
		{
			<div class="error">@DeletedEntity.ErrorMessage</div>
			<div class="error">@DeletedEntity.ErrorInfo</div>
		}
		else
		{
			<div class="success">Успешно удалено</div>
		}
	}
</body>

@code {
	SchoolDto schoolDto = new SchoolDto();
	// <a href=@($"/rate/{Output.Value.Items[i].Id.ToString()+" "+itemSelected.ToString()}")>Поставить оценку</a>

	Response<IEnumerable<SchoolDto>> CurrentPage = new(); // текущая страница
	Response<IEnumerable<SchoolDto>> SearchedPage = new(); // искомая страница
	Response<SchoolDto> DeletedEntity = new();
	int start = 0;
	int count = 10;
	bool selected;
	bool deleted;


	protected override async Task OnInitializedAsync()
	{
		if (ClientInfo.IsAuthenticated==false)
		{
			Navigation.NavigateTo("authorization");
		}
		try
		{
			CurrentPage = await ClientInfo.Http.GetFromJsonAsync<Response<IEnumerable<SchoolDto>>>($"http://localhost:9730/School/GetPageEnumerable?start={start}&count={count}");
		}
		catch
		{
			Navigation.NavigateTo("authorization");
		}
	}
	private async Task NextPage()
	{
		start++;
		try
		{
			SearchedPage = await ClientInfo.Http.GetFromJsonAsync<Response<IEnumerable<SchoolDto>>>($"http://localhost:9730/School/GetPageEnumerable?start={start}&count={count}");
			if (SearchedPage.Value!=null)
			{
				CurrentPage = SearchedPage;
			}
			else
			{
				SearchedPage = new();
				start--;
			}
		}
		catch
		{

		}
	}
	private async Task PreviousPage()
	{
		start--;
		if (start >= 0)
		{
			try
			{
				SearchedPage = await ClientInfo.Http.GetFromJsonAsync<Response<IEnumerable<SchoolDto>>>($"http://localhost:9730/School/GetPageEnumerable?start={start}&count={count}");
				if (SearchedPage.Value != null)
				{
					CurrentPage = SearchedPage;
				}
				else
				{
					SearchedPage = new();
					start++;
				}
			}
			catch
			{

			}
		}

	}
	private async Task Delete(int Id)
	{
		DeletedEntity = await ClientInfo.Http.DeleteFromJsonAsync<Response<SchoolDto>>($"http://localhost:9730/School/Delete?id={Id}");
		deleted = true;
	}
}
